/* This file is part of decom-lib
 * Copyright (C) 2018 Nandakumar Edamana <nandakumar@nandakumar.co.in>
 * 2018-11-17: Started; button done.
 */

button:not(.undecom) {
	background: white;
	color: #333;
	font-weight: bold;
	border: 2px solid #48f;
	border-radius: 4px;
	padding: 0.4em;
	padding-right: 1em;
	padding-left: 1em;
}

button:not(.undecom):hover {
	background: #efefef;
}

button:not(.undecom):active {
	background: #8ae;
	color: #fff;
}
