/* common.css
 * This file is part of decom-lib.
 * Copyright (C) 2018 Nandakumar Edamana <nandakumar@nandakumar.co.in>
 */

body {
	max-width: 900px;
	margin: auto;
	padding-top: 2em;
	font-size: 18px;
}

p {
	line-height: 1.5;
}

pre {
	margin-left: 1em;
	padding: 0.75em;
	background: #222;
	color: white;
}
