/* This file is part of decom-lib
 * Copyright (C) 2018 Nandakumar Edamana
 * 2019-03-20: Started.
 */

body, html {
	padding: 0;
	margin: 0;
	font-size: 12pt;
	font-family: "liberation sans";
	color: #222;
	line-height: 1.5;
}

div, form, input, select, button {
	font-size: 1em;
}

a {
	color: #14f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited, a:active {
	color: #028;
}

.pillarbox {
	max-width: 1000px;
	margin: auto;
}

.headerInner, .middleInner, .footerInner {
	padding: 1em;
}

.headerInner {
	padding-bottom: 0; /* Because there might be navbar */
}

.middleInner {
	padding-top: 0;
	padding-bottom: 0;
}

div.content {
	padding: 1em;
	width: 100%;
}

div.sideMenu {
	min-width: 14em;
	max-width: 14em;
	padding: 0;
	font-size: 0.95em;
	background: #f4f2f0;
}

div.sideMenu ul {
	padding: 0;
}

div.sideMenu ul li {
	display: block;
}

div.sideMenu ul li a:hover {
	background: #aac;
}

div.sideMenu ul li a {
	color: #444;
	text-decoration: none;
	display: block;
	padding: 0.5em;
	min-width: 5em;
}

div.sideMenu ul li a:hover {
	color: #111;
}

/* TODO move these to color.css */
header, footer {
	background: #15a;
	color: white;
}

footer a {
	color: #e0efff;
}

header ul.langmenu {
	padding-left: 0;
}

header ul.langmenu li {
	display: inline-block;
}

header ul.langmenu li a {
	color: white;
	padding-right: 0.5em;
}

.mastheadText {
	display: block;
	padding-top: 0.75em;
	padding-bottom: 0.5em;
	margin: 0;
	font-weight: lighter;
	font-family: sans;
	font-size: 2em;
}

#navbarMain ul {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#navbarMain ul li {
	display: inline-block;
}

#navbarMain ul li a {
	display: block;
	padding-right: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #ddd;
}

#navbarMain > ul > li > a {
	text-transform: uppercase;
	font-weight: bold;
}

#navbarMain ul li a:hover {
	text-decoration: none;
	color: white;
}

#navbarMain .submenu {
	display: none;
	position: absolute;
	padding: 1em !important;
	min-width: 10em;
	background: #159;
}

#navbarMain .submenu li {
	display: block !important;
}

#navbarMain .submenu li a {
	padding: 0.5em !important;
}

#navbarMain li a:hover ~ .submenu {
	display: block;
}

#navbarMain .submenu:hover {
	display: block;
}

._deBreadbar {
	border-bottom: 1px solid #eee;
	padding-bottom: 0.2em;
	margin-bottom: 0.2em;
}

.sideMenu ._deMenuLevel_0 li a {
	padding-left: 0.5em;
}

.sideMenu ._deMenuLevel_1 li a {
	padding-left: 1.5em;
}

.sideMenu ._deMenuLevel_2 li a {
	padding-left: 2.5em;
}

.sideMenu ._deMenuLevel_3 li a {
	padding-left: 3.5em;
}

div.msgbox {
	padding: 0.5em;
	margin-bottom: 0.5em;
}

div.error {
	background: #fbb;
	border: 2px solid #daa;
}

div.message {
	background: #bbf;
	border: 2px solid #aad;
}

div.warning {
	background: #ffb;
	border: 2px solid #dda;
}

._deUlTabSelector {
	margin: 0;
	padding: 0;
}

._deUlTabSelector li {
	display: inline-block;
}

._deTabSelector {
	background: rgb(221, 221, 221);
	color: black;
	font-size: 0.95em;
	display: inline-block;
	padding: 0.3em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	border: none;
	margin-bottom: 0;
	margin-top: 0.4em;
	vertical-align: bottom;
	border-radius: 3px 3px 0 0;
	border: 1px solid #aaa;
	transition: background 0.1s;
}

._deTabSelector:hover {
	background: #f4f2f0;
}

._deTabSelector:hover {
	text-decoration: none;
}

._deTabSelector[data-nan-selected='1'] {
	background: none;
	border-bottom: none;
}

._deBlockList {
	padding: 0;
}

._deBlockList > li {
	display: inline-block;
	vertical-align: top;
	margin: 0.5em;
	padding: 0.5em;
	background: #eee;
	box-shadow: 2px 2px 4px #aaa;
}

._deBlockList > li {
	font-weight: bold;
}

._deBlockList > li > ul {
	font-weight: normal;
}

._deBlockList > li > ul {
	list-style-type: none;
	padding-left: 0;
	padding-top: 1em;
	border-top: 1px solid #bbb;
}

._deBlockListMinH10em > li {
	min-height: 10em;
}

._deBlockListMinW10em > li {
	min-width: 10em;
}

._deBlockListW95 > li {
	width: 95%;
}

._deBlockListH95 > li {
	height: 95%;
}

._deFooterMenu a {
	color: white;
}

._deCols2 {
	columns: 2;
	-moz-columns: 2;
	-webkit-columns: 2;
}

._deCols3 {
	columns: 3;
	-moz-columns: 3;
	-webkit-columns: 3;
}

select {
	padding: 0.25em;
}

button, input[type="submit"], select {
	background: #fff;
	background: rgba(0, 0, 0, 0);
	border: 1px solid #12c;
	border-radius: 0.3em;
	min-width: 3em;
}

button, input[type="submit"] {
	color: #36f;
	transition: background, color 0.1s;
	padding: 0.45em;
}

button:hover, input[type="submit"]:hover {
	background: #36f;
	color: white;
}

button:active, input[type="submit"]:active {
	color: white;
	background: #12c;
}
