<script src="/js/codegen.js"></script>

<style>
#codegenOptPanel {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid gray;
}

.codeOptGroup {
	padding: 1em;
}

.codeOptGroupH1 {
	display: block;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
}

#divButtonArea {
	border-top: 1px solid gray;
	padding-top: 1em;
}
</style>

<h2>libdecom Code Generator</h2>
<div id="codegenOptPanel">
	<p>Snippet type:
	<select id="selCodeType">
		<option value="">-- Select --</option>
		<option value="mkobj">Object Creation with Error Handling</option>
	</select></p>

	<div class="codeOptGroup" id="codeOptGroup_common">
		<span class="codeOptGroupH1">Common Options</span>
		<input type="checkbox" id="chkPhpClosure" checked /><label for="chkPhpClosure">PHP opening and closing</label>
	</div>

	<div class="codeOptGroup" id="codeOptGroup_includes">
		<span class="codeOptGroupH1">File Includes</span>
		<div id="incList"></div>
	</div>
	
	<div class="codeOptGroup codeOptGroupHideable" id="codeOptGroup_mkobj">
		<span class="codeOptGroupH1">Object Creation with Error Handling</span>
		<input type="checkbox" id="chkMkobjErrMsg" checked /><label for="chkMkobjErrMsg">Display error message</label>
	</div>

	<div id="divButtonArea">
		<button id="btnGen">Generate</button>
		<button id="btnSelectAll">Select All</button>
		<button id="btnCopy">Copy</button>
		<button id="btnClear">Clear</button>
	</div>
</div>

<div>
	<textarea id="txtOut" rows=20 cols=82></textarea>
</div>
